html, body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    background-color: white;
    height: 100%;
    overflow: hidden;
}

body * {
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

section {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    display: none;
    overflow: hidden;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logo {
    position: absolute;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 78px);
}

.box {
    top: 0;
    height: 100%;
}

h2 {
    top: 0;
    left: 0;
    color: white;
    font-size: 50px;
    writing-mode: vertical-rl;
}

video {
    filter: brightness(50%);
}
