html, body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    background-color: #000000;
    height: 100%;
    overflow: hidden;
}

body * {
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

section {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logo {
    position: absolute;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 78px);
}

.box {
    top: 0;
    height: 100%;
}

h3 {
    top: 0;
    left: 0;
    color: white;
    font-size: 50px;
    writing-mode: vertical-rl;
}

h2 {
    top: 0;
    left: 0;
    color: white;
    font-size: 50px;
}

video {
    filter: brightness(50%);
}

p {
    color: white;
}

video {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(80%);
}

video:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

